<div class="flex flex-col min-h-screen">
    <div class="sticky top-0 z-20">
        <div
            class="bg-black text-white text-center px-4 py-2 sm:py-3 md:py-4 text-[0.5rem] sm:text-[0.6rem] md:text-xs">
            Enjoy 10% discount when you buy goods worth $100 and above!!!
        </div>
        <nav
            class="flex items-center justify-between gap-2 px-6 sm:px-12 md:px-20 lg:px-28 py-4 sm:py-5 md:py-6 shadow-md bg-white">
            <h3 class="text-sm sm:text-base md:text-lg lg:text-xl font-serif font-semibold text-slate-700">Chigisoft
                <span class="">Store</span></h3>

            <ul class="text-[0.6rem] sm:text-xs md:text-sm">
                <li class="cursor-pointer hover:underline hover:font-semibold text-[#505050]"><a routerLink="/">Home</a>
                </li>
            </ul>

            <div class="relative cursor-pointer" [routerLink]="['/cart']">
                <img src="/icons/cart-icon.svg" alt="">
                <div
                    class="absolute -top-1 -right-2 bg-green-600 rounded-full h-4 w-4 flex items-center justify-center">
                    <span class="text-[0.5rem] text-white font-semibold">{{cartItems.length}}</span>
                </div>
            </div>
        </nav>
    </div>
    <div class="flex-1">
        <router-outlet />
    </div>
    <app-notification></app-notification>
    <app-loader></app-loader>
    <div
        class="flex justify-center bg-black text-white text-[0.5rem] sm:text-[0.6rem] md:text-xs p-3 sm:p-4 md:p-5">
        <p>&copy; {{thisYear}} All right reserved.</p>
    </div>
</div>