::ng-deep .ngx-slider .ngx-slider-pointer {
    width: 12px !important;
    height: 12px !important;
    top: -4px !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer:after {
    display: none !important;
}

::ng-deep .ngx-slider .ngx-slider-bubble  {
 font-size: 12px !important;
}